@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #000;
    --main-color: #83b735;
    --star-color: violet;
}

section {
    padding: 50px 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #dbb4bf;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    position: relative;
    display: flex;

}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-style: 20rem;
    cursor: pointer;
    display: none;
}

.HOME {
    width: 100%;
    min-height: 100vh;
    background-image: url(../css/img/bgr3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    opacity: 0.85;
}

.home-text h1 {
    font-size: 2.7rem;
}

.home-text p {
    font-size: 1.5rem;
    margin: 0.4rem 0 1.8rem;
    color: #f3ac0c;
}

.home-text span {
    color: var(--main-color);
}

.bth {
    padding: 10px px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-style: 12px;
}

.bth:hover {
    background: #8fc53d;
}

.mlb-container,
.nice-container,
.jordan-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 1rem;
    margin-top: 2rem;
}


.box {
    position: relative;
    box-shadow: 1px 4px 4px rgp(0, 0, 0, 0.1);
    border-radius: 44px 4px 4px 4px;
}


.MLB,
.NICE,
.JORDAN {
    text-align: center;
}

.heading span {
    font-size: 1.5rem;
    color: var(--main-color);
}

.heading h2 {
    font-size: 2rem;
}


img {
    display: block;
    width: 100%;
    height: 160px;
    background-size: cover;
    /* object-fit: cover; */
    overflow: hidden;
    border-radius: 44px 4px 0 0;

}

.box .box-img img:hover {
    transform: scale(1.1);
    transform: 0.5s;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.box span {
    font-style: 1.1rem;
    font-weight: 500;
    /* padding-bottom: 20px; */
    padding-right: 55px;
    color: var(--main-color);
}

.stars .bx {
    color: var(--star-color);
}

.box .bx-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-style: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color)
}

.box .bx-cart:hover {
    background: #8fc53d;
}

.nice-container {
    border-radius: 4px;
}

.brands-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.brands-container img {
    width: 100px;
    height: 100px;
    filter: grayscale(0.5);
}

.brands-container img:hover {
    width: 100px;
    filter: grayscale(0);
}

.newlestter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/bgr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.newlestter h2 {
    color: #fd02f5;
}

.news-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.news-box input {
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
}

.news-box .bth {
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.CONTACT {
    background: rgba(238, 130, 238, 0.315);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-box span {
    color: var(--main-color);

}

.footer-box p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.socical {
    display: flex;
    align-items: center;
}

.socical a {
    font-style: 25px;
    margin-right: 10px;
    color: var(--text-color);
}

.socical a:hover {
    color: var(--main-color);

}

.footer-box h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    color: var(--text-color);
}

.copyright {
    padding: 20px;
    text-align: center;
}

@media(max-wigth:991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }
}

@media (max-wigth: 881px) {
    .home-text h1 {
        font-style: 2rem;
    }

    .mlb-container,
    .nice-container,
    .jordan-container {
        grid-template-columns: repeat(auto-fit, minmax(218px, auto));
    }
}

@media (max-wigth: 768px) {
    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transform: 0.2 ease;
        text-align: center;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        padding-top: 1rem;
        order: 2;
    }
}

@media (max-wigth: 491px) {
    .home-text h1 {
        font-style: 1.7rem;

    }

    .mlb-container,
    .nice-container,
    .jordan-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .box .box-img {
        height: 300px;

    }

    .new-box input {
        width: 180px;
    }

    .about-text {}
}